@page
@model parcial_Horta_Gomez.Pages.Facturas.DeleteModel
@{
    ViewData["Title"] = "Eliminar Factura";
}
<div class="mb-4">
        <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.NombreCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.NombreCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.NombreEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.NombreEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.NombreServicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.NombreServicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Fecha)
        </dd>
    </dl>
    </div>
<form method="post" class="bg-white p-10">
    <input type="hidden" asp-for="Factura.Id"/>
    <div class="flex gap-2">
        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white rounded-lg flex items-center font-bold py-2 px-4 focus:outline-none focus:shadow-outlines">
            Eliminar
        </button>
        <a asp-area="" asp-page="/Facturas/Index" class="bg-black hover:bg-black/50 text-white rounded-lg flex items-center font-bold py-2 px-4 focus:outline-none focus:shadow-outline">
            Regresar
        </a>
    </div>
</form>
