@page
@model parcial_Horta_Gomez.Pages.Facturas.IndexModel
@{
    ViewData["Title"] = "Facturas";
}
<a type="submit" asp-page="/Facturas/Create"class="bg-blue-500 hover:bg-blue-600 text-white rounded-lg flex items-center font-bold py-2 px-4 focus:outline-none focus:shadow-outline">Crear</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facturas[0].NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturas[0].NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturas[0].NombreServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturas[0].Fecha)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Facturas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreServicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="bg-blue-500 hover:bg-blue-600 text-white rounded-lg flex items-center font-bold py-2 px-4 focus:outline-none focus:shadow-outline">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg>
                    Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="bg-red-500 hover:bg-red-600 text-white rounded-lg flex items-center font-bold py-2 px-4 focus:outline-none focus:shadow-outlines">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
